# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# macOS files
.DS_Store

# Debug logs
*.log

# Temp files
*.tmp
